.button {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  background-color: rgba(145, 255, 0, 0.404);
  margin : 10px 0px 0px 0px;
  cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}

.button span {
    
    font-size: 20px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}
